/* Para telas até 320px */
.header {
  padding: 32px 16px;
  text-align: center;
}

.header__logo {
  width: 188px;
  margin-bottom: 24px;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  /* SÓ PRECISA ARRUMAR O TAMANHO DOS TEXTOS E DOS MAX-WIDTH */
  .header__logo {
    width: 254px;
  }
}

@media screen and (min-width: 1024px) {
  /* SÓ PRECISA ARRUMAR O TAMANHO DOS TEXTOS E DOS MAX-WIDTH */
  .header__logo {
    width: 254px;
  }
}
