.lead {
  text-align: center;
  max-width: 984px;
  margin: 0 auto;
}

.lead__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 auto 16px;
  max-width: 288px;
}

.lead__subtitle {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 288px;
  margin-bottom: 40px;
}

.lead__image {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}
