/* Para telas até 320px */
.photo-grid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 12px;
  padding: 0 16px;
}

@media screen and (min-width: 544px) {
  .photo-grid {
    padding: 0 24px;
  }

  .photo-grid__item {
    width: 100%;
  }
}
