/* Para telas até 320px */
.photo-grid {
  display: grid;
  width: 288px;
  top: 1486px;
  margin: auto;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(8, auto);
  row-gap: 12px;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .photo-grid {
    display: grid;
    width: 720px;
    top: 1595px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 12px;
    place-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    display: grid;
    width: 1184px;
    top: 1869px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 12px;
  }
}
