.places {
  margin: auto;
}

@media screen and (min-width: 544px) {
  .places {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    max-width: 984px;
    margin: 0 auto;
  }
}