.places {
  width: 320px;
  top: 3360px;
  margin: auto;
  display: flex;
}

.place {
  width: 320px;
  top: 7452px;
}
.place__image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.place__title {
  font-weight: 900px;
  line-height: 35px;
  font-size: 32px;
  color: #ffffff;
}

.place__website_artist {
  margin: 0;
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px;
}

.place__website_url-heading {
  font-weight: 400px;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #aaaaaa;
}

.place__paragraph {
  margin-top: 0;
  display: flex;
  text-align: justify;
  font-weight: 400px;
  font-size: 16px;
  color: #ffffff;
}
