.places {
  width: 320px;
  top: 3360px;
  margin: auto;
  display: flex;
}

.place {
  width: 320px;
  top: 7452px;
}
.place__image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.place__title {
  font-weight: 900px;
  line-height: 1.09;
  font-size: 32px;
  color: #ffffff;
}

.place__website_artist {
  margin: 0;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.22;
}

.place__website_url-heading {
  font-weight: 400px;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #aaaaaa;
}

.place__paragraph {
  margin-top: 0;
  display: flex;
  text-align: justify;
  font-weight: 400px;
  font-size: 16px;
  color: #ffffff;
}

.rectangle {
  width: 288px;
  height: 48px;
  top: 7354px;
  margin: 0 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #0278fe, #003a7b);
  border: 2px solid #2f80ed;
  border-radius: 6px;
}

.rectangle:hover {
  background: linear-gradient(90deg, #1c4fd8, #2f80ed);
  transform: translateY(-2px);
}

.rectangle__paragraph {
  width: 245px;
  top: 7369px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
}
