@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

/* Blocos */
@import url("../blocks/header.css");
@import url("../blocks/footer.css");
@import url("../blocks/page.css");

@import url("../pages/header.css");
@import url("../pages/section.css");
@import url("../pages/footer.css");
